*{
    margin:0;
    padding:0;
   
 
    
}
h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    color:rgb(202, 146, 169)
    
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(202, 146, 169)
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(202, 146, 169)
}